###############################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
[versions]
[part]
recipe = minitage.recipe.cmmi
url = http://${mirrors:gentoo}/distfiles/GeoIP-1.4.8.tar.gz
md5sum = 05b7300435336231b556df5ab36f326d
patches=${buildout:directory}/minitage.patch
patch-options=-Np1


# to redo the patch
# detar two copies, in one for the diff
# then make the .env & source it
# minimerge -NE geoip-1.4
#   . sys/share/minitage/minitage.env
# then add to configure.in
#   AC_CONFIG_MACRO_DIR([m4])
# then add to Makefile.am
#   ACLOCAL_AMFLAGS = -I m4
#   libtoolize -ifv --copy
#   autoreconf -vif  

[mirrors]
gentoo=gentoo.tiscali.nl



